html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1200px;
  max-width: 1920px;
}
.el-breadcrumb {
  margin: 15px;
}
.container .el-breadcrumb {
  margin-bottom: 15px;
}
.container .el-card .el-table {
  margin-top: 15px;
}
